<html>
  <head>
    <title>新規登録</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
     crossorigin="anonymous" />
  </head>
  
  <body>
    <div align="center">
      <h1>新規ユーザ情報登録</h1>
      <form name="regist" method="post" th:action="@{/regist}">
        <div class="row">
          <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-xs-4 col-sm-4 col-md-4">
            <p><label style="font-size:15px;">User Name&nbsp;:&nbsp;&nbsp;</label><input required class="from-control" type="text" name="userName" th:value="${userName}" /></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-xs-4 col-sm-4 col-md-4">
            <p><label style="font-size:15px;">Password&nbsp;&nbsp;:&nbsp;&nbsp;</label><input required class="from-control" type="text" pattern="^[0-9]+$" maxlength='4' minlength='4' name="password" th:value="${password}" /></p>
          </div>
        </div>
        <input type="submit" value="登録" class="btn btn-primary col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-xs-2 col-sm-2 col-md-2" style="HEIGHT: 40px;" />
      </form>
      <p><br></p>
      <p><span style="color:#FF0000;" th:text="${alert}"></span></p>
    </div>
  </body>
</html>